# -*- mode: gitignore; -*-
/1Password
/BraveSoftware
/Signal
/cargo
/chromium
/configstore
/dconf
/discord
/emacs
/gpick
/gtk-2.0
/nvm
/pavucontrol.ini
/pulse
/rustup
/shuttle
/spotify
/viewnior

__pycache__
NativeMessagingHosts
geany
xarchiver
godot
